body {
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}
canvas {
    border: 1px solid black;
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: end;
}
div label {
    font-size: 1.2rem;
}
div input {
    width: 40%;
}