body {
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}
canvas {
    border: 1px solid black;
}
div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
div label {
    font-size: 1.2rem;
}
div input {
    width: 40%;
}